#heading {
 border: 0.0625em solid black;
 background-color: blue;
 padding-bottom: 0.51em;
}
#logo {
 float: left;
}
#logoright {
 float: right;
}
#heading h1 {
 text-align: center;
}
#nav {
 margin: 0em;
 width: 10%;
 padding: 0.3125em;
 float:left;
 background-color: white;
 font-family: verdana;
 display: block;
 float: left;
 border-left: 0.0625em solid black;
 border-right: 0.0625em solid black;
 border-bottom: 0.0625em solid black;
 text-align: center;
}
#nav a {
 color: black;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 80%;
 border: 0.0625em solid blue;
 background-color: white;
}
#nav i {
 color: black;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 80%;
 border: 0.0625em solid blue;
 background-color: white;
}
#nav a:hover {
 color: red;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 80%;
 border: 0.0625em solid red;
 background-color: white;
}
#nav b {
 color: black;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 80%;
 border: 0.0625em solid blue;
 background-color: white;
}
#mainBody {
 margin-left: 9.8em;
 border-right: 1em solid #EEEE;
 border-left: 1em solid #EEEE;
 padding: 1em;
 
 color: black;
}
#mainBody table {
 width: 100%;
 empty-cells: show;
 table-layout: fixed;
 border: 0.0625em solid black;
}
#mainBody td {
 border: 0.0625em solid black;
}

#mainBody th {
 border: 0.0625em solid black;
}
#columnLeft {
 color: white;
 display: block;
 float: left;
 width: 14%;
 border-left: 0.0625em solid black;
 border-right: 0.0625em solid black;
 border-bottom: 0.0625em solid black;
 background-color: #D60000;
 padding: 0.3125em;
 text-align: center;
}
#columnLeft a {
 color: white;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 84.25%;
 border: 0.125em solid blue;
 background-color: #D60000;
}
#columnLeft a:hover {
 color: white;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 84.25%;
 border: 0.125em solid #FFFFFF;
 background-color: #D60000;
}
#columnLeft i {
 color: white;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 84.25%;
 border: 0.125em solid #FFFFFF;
 background-color: #0000FF;
}
#columnLeft b {
 color: white;
 text-align: center;
 display: block;
 padding: 0.5em;
 float: left;
 width: 84.25%;
 background-color: #D60000;
}
#columnLeft hr {
 color: white;
 display: block;
 float: left;
 width: 84.25%;
 background-color: #D60000;
}
#nav img {
 text-align: center;
}
#nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#footer {
 border: 0.0625em solid #333;
 text-align: center;
 background-color:#EEEEEE;
 margin-left: 15%;
}
h2 {
 font-weight: bold;
 text-decoration: underline;
}
body {
 background-color: #1E90FF;
 font-family: verdana;
}
img {
 border: 0em;
}
